mat-sidenav {
    width: 280px;
    border-right: none;
    text-align: center;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.avatar {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-top: 8px;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    margin: 10px 0;
}
.menu-button mat-icon {
    margin-right: 8px;
    margin-left: 8px;
}

mat-divider {
    margin: 20px 0px;
    background-color: #fff;
}

.mycard img {
    margin-bottom: 12px
}
.mycard h3, .mycard h4 {
   margin-bottom: 4px !important;
}
.mycard .mytext {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
}   
.mycard h2 {
    margin-bottom: 12px !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;
}